<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Movies.title %></title>
</head>
<body>
    <article>
        <section>
            <h2><%= Movies.title %></h2>
            <p>
               Premios ganados: <%= Movies.awards %> 
            </p>
            <p>
               Duracion de la pelicula: 
               <% if (Movies.length == null ) { %>
                    Duraccion no definida
               <% } else { %>
                    <%= Movies.length %> 
               <% } %> 
            </p>
            <p>
                Fecha de lanzamiento: <%= Movies.release_date %> 
            </p>
            <form action="/movies/delete/<%= Movies.id %>"  method="POST">
                <button type="submit">Borrar</button>
            </form>
            <form action="/movies/edit/<%= Movies.id %>">
                <button type="submit">Modificar</button>
            </form>
        </section>
    </article>
</body>
</html>